<div class="footer-section">
    <div>Design and Developed by Smit Dave</div>
    <div><p class="copyright">Copyright &copy; 2025 SD</p></div>
    <div class="footer-flex">
        <!-- <div></div> -->
        <div><a href="" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        <!-- <div></div> -->
        <div><a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
        <!-- <div></div> -->
        <div class="connect-box">
            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <!-- <div></div> -->
        <div class="connect-box">
            <div><a href="" target="_blank"><i class="fa-solid fa-phone-volume"></i></a></div>
        </div>
    </div>
</div>