<div class="navbar-section">
    <div class="nav-left">
        <div class="logo">
            <h1>Smit Dave</h1>
        </div>
    </div>
    <div class="nav-center">
        <nav>
            <ul>
                <li><a routerLink="home">Home</a></li>
                <li><a routerLink="about">About</a></li>
                <li><a routerLink="skills">Skills</a></li>
                <li><a routerLink="projects">Projects</a></li>
                <li><a routerLink="experiences">Experiences</a></li>
                <!-- <li><a href="">let's Connect</a></li> -->
            </ul>
        </nav>
    </div>
    <div class="nav-right">
        <button><a routerLink="contact">Let's Connect</a></button>
    </div>
</div>