<div class="home-section" data-aos="fade-up">
    <div class="home-left">
        <h3 class="home-title" data-aos="fade-right">Hi There!</h3>
        <h1 class="home-heading" data-aos="fade-right">I'M <span>SMIT DAVE</span></h1>
        <app-type-wriiter [roles]="['Creative Coder', 'Freelancer', 'Web Developer', 'Cyber Security Analyst', 'DevSecOps Specialist', 'Android Developer']"></app-type-wriiter>
        
        <a href="" data-aos="zoom-in">
            <button>Download Resume</button>
        </a>
    </div>
    
    <div class="home-right" data-aos="fade-left">
        <img src="images/Introducing-Mobile-testing.png" alt="">
    </div>
</div>

<div class="home-contact" data-aos="fade-up">
    <h1>Feel free to <span>connect</span> with me</h1>
    <div class="connect-all-links">
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="" target="_blank"><i class="fa-solid fa-phone-volume"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <div><a href="" target="_blank"><i class="fa-regular fa-envelope"></i></a></div>
        </div>
        <div class="connect-box" data-aos="zoom-in">
            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>

<app-footer data-aos="fade-up"></app-footer>
