    .home-section{
        height: auto;
        width: 100%;
        margin: 3.5rem 0 2rem;
        /* background-color:paleturquoise; */
        /* margin: 8rem 0 3rem; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15%;
    }
    .home-left .home-title{
        font-size: 42px;
        color: white;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    .home-left .home-heading{
        font-size: 52px;
        font-weight: 500;
        color: white;
        margin-bottom: 1.8rem;
    }
    .home-left .home-heading span{
        /* color: #8750F7; */
        background-image: -webkit-gradient(linear, left top, right top, 
        from(#8750f7), 
        color-stop(25%, #4b29a5), 
        color-stop(50%, #2a1454), 
        color-stop(75%, #6c5ecf), 
        to(#3a1c71)
    );
    background-image: linear-gradient(to right, 
        #8750f7 0%, 
        #4b29a5 25%, 
        #2a1454 50%, 
        #6c5ecf 75%, 
        #3a1c71 100%
    );
    
        /* position: relative; */
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: 200%; */
    }
    .home-left a {
        display: inline-block;
        text-decoration: none;
    }
    .home-left a{
        display: block;
    }
    .home-left button {
        display: block;
        margin-top: 1rem;
        padding: 15px 30px;
        border-radius: 50px;
        color: white;
        font-size: 18px;
        border: 0;
        outline: 0;
        cursor: pointer;
        background: linear-gradient(90deg, #8750f7 0%, #2a1454 51%, #8750f7 100%);
        background-size: 200%;
        transition: background-position 0.4s ease-in-out, color 0.3s ease-in-out;
    }
    
    .home-left button:hover {
        background-position: right center;
        color: white;
        box-shadow: 0 4px 20px rgba(136, 80, 247, 0.4);
        background: transparent;
        color: #8750F7;
        border: 1px solid white;
    }
    
    .home-right{
        width: 50%;
        /* background-color:s rebeccapurple; */
    }
    .home-right img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .home-contact
    {
        /* background-color: #8750F7; */
        width: 100%;
        margin-top: 5rem;
        height: 50vh;
        padding: 0 8%;
    }
    .home-contact h1{
        text-align: center;
        font-size: 35px;
        font-weight: 500;
        color: white;
    }
    .home-contact h1 span{
        color: #8750F7;
    }
    .home-contact .connect-all-links{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
    .connect-all-links{
        width: 40%;
        text-align: center;
        /* margin-top: 2rem; */
        margin: 1.5rem auto 0;
        /* background-color: #8750F7; */
    }
    .connect-box{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: whitesmoke;
        position: relative;
    }
    .connect-box i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .connect-box:hover{
        box-shadow: 0 4px 20px rgba(136, 80, 247, 0.541);

    }