<div class="skills-section">
    <h1 class="skills-heading">Professional <span>Skillset</span></h1>
    <div class="skills-container">
        <div>
            <i class="devicon-cplusplus-plain"></i>
            <p>C++</p>
            <!-- {{box.title}} -->
        </div>
        <div>
            <i class="devicon-cplusplus-plain"></i>
            <p>C</p>
            <!-- {{box.title}} -->
        </div>
        <div>
            <i class="devicon-cplusplus-plain"></i>
            <p>Html</p>
            <!-- {{box.title}} -->
        </div>
        <div>
            <i class="devicon-cplusplus-plain"></i>
            <p>CSS</p>
            <!-- {{box.title}} -->
        </div>
        <div>
            <i class="devicon-cplusplus-plain"></i>
            <p>JS</p>
            <!-- {{box.title}} -->
        </div>
        
    </div>
</div>