<div class="experience container">
    <div class="experience-main">
    <div class="experience-text">
        <h1 data-aos="zoom-out">Work <span>Experiences</span></h1>
        <div class="company-text" data-aos="fade-right">
        <h2 class="company">Adept Digital Private Limited</h2>
        <p class="intern">Intern</p>
        <p class="time">Dec 2023 - Jan 2024</p>
        <p class="intern-content">
           I developed and maintained Full Stack responsive websites using HTML, CSS, and JavaScript, along with modern frameworks like React and Angular. I created interactive animations and transitions to enhance user engagement and improve the visual appeal of the websites. I conducted cross-browser testing and debugging to ensure compatibility and optimize performance. Additionally, I implemented form validations and error handling to improve data integrity and the user experience in web forms.
        </p>
        <div class="certi">
            <li><a href="https://drive.google.com/file/d/1j98wP3eJsX1nBWIx4v1oMk9eZQeX-ue2/view" target="_blank"><button>Certification</button></a></li>
        </div>
    </div>
    <div class="company-text" data-aos="fade-right">
        <h2 class="company">Arth Technology</h2>
        <p class="intern">Intern</p>
        <p class="time">Feb 2023 - March 2024</p>
        <p class="intern-content">
         This internship is like a training program. I have learned about Kaggle datasets, Python programming, data visualization, machine learning, TensorFlow, and Keras.


        </p>
        <div class="certi">
            <li><a href="https://drive.google.com/file/d/19SimOaDi3Hpjq7L4y51uGW9U1pFs1eQf/view" target="_blank"><button>Certification</button></a></li>
        </div>
    </div>
    </div>
    <div class="experience-image" data-aos="zoom-in">
        <img src="images/experience_5465701.png" alt="">
    </div>
</div>
</div>